<div class="container">
  <div class="col-lg-4">
    <h2>Welcome#index</h2>
    <p>Find me in app/views/welcome/index.html.erb</p>
    </div>

  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="btnFullFace">Take FullFace</button>
    <button id="btnProfile">Take Profile</button>
  </div>

  <canvas id="canvasFullFace"></canvas>
  <canvas id="canvasProfile"></canvas>

  <div class="outputFullFace">
    <img id="photoFullFace" alt="The screen capture will appear in this box.">
  </div>

  <div class="outputProfile">
    <img id="photoProfile" alt="The screen capture will appear in this box.">
  </div>


</div>
